@import "tailwindcss";

:root {
  --background: hsl(240, 12.5%, 3.14%);
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neutral: hsl(220, 7.32%, 8.04%);
  --color-border: hsl(228, 4.76%, 20.59%);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
